<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
            <!-- PayPal Logo -->
            <img data-bind="attr: {'src': require.toUrl('images/paypal_icon.png')}" class="payment-icon paypal-icon"/>
            <!-- PayPal Logo -->
        </label>
    </div>
    <div class="payment-method-content">
        <div class="message info" id="paypal-insured-info" data-bind="visible: paypalMandatoryInfoVisible">
            <span data-bind="text: ForceShippingMethodMessage"></span>
        </div>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="click: continueToPayPal, enable: (getCode() == isChecked())"
                        disabled>
                    <span data-bind="i18n: 'Continue to PayPal'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
