<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="force_shipping_method" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Force Shipping Method based on Payment Method</label>
            <tab>sales</tab>
            <resource>Marcopm_ForceShippingMethod::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="min_order_amount" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Order Amount</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="payment_method_code" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Method Code</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="shipping_method_code" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mandatory Shipping Method Code</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="checkout_payment_message" translate="label" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Checkout Payment Message</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
